%section#top-header.row
  %h1.col-md-2.col-md-offset-2.main-header-logo
    = link_to "Yelp", root_path
  .col-md-4
    .row
      .col-md-12
        = form_tag "/#", class: "navbar-form", method: "get"  do
          %input.form-control(name="search_term" type="text" placeholder="Find food!")
          %button.btn.btn-default(type="submit") Search
    .row
      .col-md-12
        %ul.clearfix
          %li= link_to "All Businesses", businesses_path, class: :navlink
          %li= link_to "+ Add Business", new_business_path, class: :navlink
          %li= link_to "Recent Reviews", reviews_path, class: :navlink
          %li= link_to "My Profile", nil, class: :navlink
  .col-md-3
    #user_links.pull-right
      - if logged_in?
        %ul
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              = "Welcome, #{current_user.full_name}"
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                %a(href="#") Profile
                %a(href="#{logout_path}") Sign Out
      - else
        = link_to "Login", login_path, class: :navlink2
        = link_to "Register", register_path, class: :navlink2

