%section#top-header.row
  %h1.col-md-2.col-md-offset-2.main-header-logo
    = link_to "Yelp"
  .col-md-5
    .row
      .col-md-12
        = form_tag "/#", class: "navbar-form", method: "get"  do
          %input.form-control(name="search_term" type="text" placeholder="Find food!")
          %button.btn.btn-default(type="submit") Search
    .row
      .col-md-12
        %ul.clearfix
          %li= link_to "Home", nil, class: :navlink
          %li= link_to "My Profile", nil, class: :navlink
          %li= link_to "List Business", nil, class: :navlink
  .col-md-3
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            = "Welcome, Dan"
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              %a(href="#") Sign Out
